{% extends "base.html" %}
{% block page_title %}Game Search{% endblock %}
{% block content %}
  <section class="page-container flex flex-wrap justify-center gap-1.5 my-5">
    {% for game in games %}
      {% include "partials/game_card.html" with game=game %}
    {% empty %}
      <article>
        <h1>Looking for games? Search here</h1>
        <form method="get" action="{% url 'search-games' %}">
          {{ form.q }}
          <button type="submit" class="btn-primary">Search</button>
        </form>
      </article>
    {% endfor %}
  </section>
{% endblock %}
