{% extends "base.html" %}
{% block page_title %}Game Search{% endblock %}
{% block content %}
  <section class="page-container flex flex-wrap justify-center gap-1.5 my-5">
    {% for game in games %}
      {% include "partials/game_card.html" with game=game %}
    {% empty %}
      <article>
        <h1>Looking for games? Search here</h1>
        <form method="get" action="{% url 'search-games' %}">
          {{ form.q }}
          <button type="submit" class="btn-primary">Search</button>
        </form>
      </article>
    {% endfor %}
  </section>
  {% if num_pages > 1 %}
    <nav aria-label="Pagination" class="my-5 flex items-center justify-center gap-4 text-brand-lemon-100">
      {% if has_previous %}
        <a href="?q={{ request.GET.q|urlencode }}&amp;page={{ page|add:-1 }}">Previous</a>
      {% endif %}
      <span class="mx-3"> Page {{ page }} of {{ num_pages }} </span>
      {% if has_next %}
        <a href="?q={{ request.GET.q|urlencode }}&amp;page={{ page|add:1 }}">Next</a>
      {% endif %}
    </nav>
  {% endif %}
{% endblock %}
