{% extends "base.html" %}
{% block page_title %}Game Search{% endblock %}
{% block content %}
    <main>
        <h1>
            {% for game in games %}
                <a class="text-blue-700" href="{% url "game-details" game.slug %}">{{ game.name }}</a>
                <img src="{{ game.background_image }}"
                     alt="{{ game.name }} background image">
            {% empty %}
                <h1>Looking for games? Search here</h1>
                <form method="get" action={% url 'search-games' %}>
                {{form.q}}
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded"> Search </button>
                </form>
            {% endfor %}
        </h1>
    </main>
{% endblock %}
